// family font
$family: 'Manrope', sans-serif;
// color
$white: #fff;
$main-bg: #EDEDED;
$product-bg: #F8F8F8;
$sky-bg: #B9DFDF;
$main-blue: #0167F3;
$title-c: #081828;// hover-bg, footer-bg
$grey-c: #929292;
$strong-grey: #666666;
$border-c: #F0F0F0;
$red-c: #F73232;
$yellow-c: #FECB00;
$field-bg: #55606B;
$app-bg: #172635;
$nav-link-c: #051441;